html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f37d7d;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

#heading {
    height: auto;
    min-height: 35px; 
    width: 50%;
    margin: 0 auto;
    clear: both;
    position: relative;
    background-color: black;
    
}

#title {
    font-size: 35px;
    text-align: center;
    padding: 10px;
    color: white;
}

#search-box {
    margin: 15px;
    float: right;
    padding: 0 10px 0 0;
}

#gif-display {
    float: left; 
    display: inline-block;
    margin: 10px;
    position: relative;

}

#gif-buttons {
    margin-top: 5px;
    padding: 5px;
    position: relative;
    min-height: 45px;
    width: 100%;
    overflow: hidden;
    
}

.gifButton {
    padding: 5px;
    margin: 5px;
    border: none;
    height: 30px;
    border-radius: 2px;
    transition: height 2s, width 2s, color 2s;
}


img {
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 2px;
    border: 2px solid black;
    transition: height 2s, width 2s;
}

img:hover {
    height: 225px;
    width: 225px;
    transition: height 2s, width 2s;
}

#gif-button {

}